<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>ChapleanOutdatedBrowserBundle</title>

    <script src="{{ path('chaplean_outdated_browser.js') }}"></script>
</head>
<body>

</body>
</html>
